<footer class="footer mt-auto py-3 bg-light" th:fragment="footer">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-md-4">
                <h5>Liên hệ</h5>
                <p>Email: hainx0952@ut.edu.vn<br>
                   Điện thoại: (84) 123-456-789</p>
            </div>
            <div class="col-md-4">
                <h5>Địa chỉ</h5>
                <p>02 Võ OanhC<br>
                   Quận Bình Thạnh, Thành phố HCM</p>
            </div>
            <div class="col-md-4">
                <h5>Theo dõi chúng tôi</h5>
                <p><a href="https://www.facebook.com/xangjjj22/" target="_blank">Facebook</a><br>
                    <a href="https://github.com/nguyenxuanhai-arch/ChildVaccineScheduleTrackingSystem" target="_blank">Github Repo</a><br>
                   Instagram</p>
            </div>
        </div>
        <div class="text-center mt-3">
            <p>&copy; 2024 Hệ thống Theo dõi Lịch tiêm chủng. All rights reserved.</p>
        </div>
    </div>
</footer>