<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title} ?: 'Vaccine System'">Vaccine System</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div th:replace="master/_header :: header"></div>
    <div class="main-container">
        <div th:replace="master/_sidebar :: sidebar" class="sidebar"></div>
        <div class="content">
            <div th:replace="~{master/content :: content}">
        </div>
    </div>
</body>
</html>
