<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>User Form</title>
  </head>
  <body>
    <h1 th:if="${user.id == null}">Create User</h1>
    <h1 th:if="${user.id != null}">Edit User</h1>

    <!-- Hiển thị thông báo lỗi -->
    <div th:if="${error}" style="color: red">
      <p th:text="${error}"></p>
    </div>

    <form th:action="@{/admin/users/save}" th:object="${user}" method="post">
      <input type="hidden" th:field="*{id}" />

      <label for="username">Username:</label>
      <input type="text" id="username" th:field="*{username}" required />
      <br />

      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        th:field="*{password}"
        th:if="${user.id == null}"
        required
      />
      <br />
      <label for="email">Email:</label>
      <input type="text" id="email" th:field="*{email}" required />

      <label for="role">Role:</label>
      <select id="role" th:field="*{role}">
        <option value="ADMIN" th:selected="${user.role == 'ADMIN'}">
          Admin
        </option>
        <option value="USER" th:selected="${user.role == 'USER'}">User</option>
      </select>
      <br />

      <button type="submit">Save</button>
      <a th:href="@{/admin/users}">Cancel</a>
    </form>
  </body>
</html>
